@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3b82f6; /* Blue-500 */
  --secondary: #64748b; /* Slate-500 */
}

.dark {
  --background: #121212;
  --foreground: #e0e0e0;
  --primary: #3b82f6; /* Keep Blue for semantic meaning, or adjust if needed */
  --secondary: #b0b0b0;
}
